
<%=link_to "Back to search page", home_index_path%>
<%#=debug @pa.properties%>
<%#@results ||= []%>
<table>
  <tr>
    <th>Type</th>
    <th>Value</th>
    <th>Address</th>
    <th>Details</th>
  </tr>
  <%@pa.properties.each do |r|%>
    <tr>
      <td>
        <%=r.property_type%>
      </td>
      <td>
        <%=r.price%>
      </td>
      <td>
        <%=r.address%>
      </td>
      <td>
        <%=link_to "Click for  more  details", property_details_parser_index_path(url: r.url), method: :post%>
      </td>
    </tr>
  <%end%>
</table>
